<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the Club</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Join the Secret Club</h1>
    <form action="/join-club" method="POST">
      <label for="passcode">Secret Passcode:</label>
      <input type="password" name="passcode" required />
      <button type="submit">Submit</button>

      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>
    </form>
  </body>
</html>
